<div class="body" [ngStyle]="{'background': backgroundColor}">
  <div class="title">
    <h1>{{login}}</h1>
    <div class="picture center" [ngStyle]="{'background' : img.length > 0 ? 'url('+img+')' : 'var(--mainColor)'}">
      <fa-icon id="noPicture" [icon]="userIcon" *ngIf="img.length === 0"></fa-icon>
      <upload-button [styleInfos]="uploadButtonInfos" type="picture" (file)="getFile($event)"></upload-button>
      <fa-icon class="center" id="remove" [icon]="crossIcon" *ngIf="img.length > 0" (click)="removeImg()"></fa-icon>
    </div>
  </div>
  <div class="first">
    <div class="general">
      <div class="login">
        <app-input [value]="userForm.newLogin" class="number" text="Nouveau login" [styleInfo]="loginChecked ? validInput : invalidInput" (input)="setValue($event,'login')"></app-input>
        <round-button id="mainLink" text="Modifier login" [styleInfos]="loginChecked ? validButton : invalidButton" (click)="setLogin()"></round-button>         
      </div>
      <div class="password">
        <app-input [value]="userForm.password" type="password" class="number" text="Ancien mot de passe" [styleInfo]="normalInput" (input)="setValue($event,'password')"></app-input>
        <app-input [value]="userForm.newPassword" type="password" class="number" text="Nouveau mot de passe" [styleInfo]="userForm.newPassword.length > 3 ? validInput : invalidInput" (input)="setValue($event,'newPassword')"></app-input>
        <round-button id="mainLink" text="Modifier mot de passe" [styleInfos]="passwordChecked ? validButton : invalidButton" (click)="setPassword()"></round-button>           
      </div>
    </div>
  </div>
</div>

<div class="error" [ngStyle]="{'height' : showError ? '10vh' : '0','background' : !error ? 'var(--thirdColor)' : 'var(--secondColor)'}">
  <p>{{errorMessage}}</p>
</div>