.body{
    width: 80vw;
    padding: 0 10vw;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15vh 0;
    height: 20vh;
    h1{
        font-size: 75px;
        font-family: 'Arvo',sans-serif !important;
    }
    .picture{
        position: relative;
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: cover !important;
        #noPicture{
            color: var(--white);
            font-size: 15vh;
        }
        #remove{
            position: absolute;
            cursor: pointer;
            color: var(--white);
            background-color: var(--secondColor);
            transition: .5s;
            border-radius: 50%;
            transform: scale(1);
            height: 32px;
            width: 32px;
            bottom: calc(calc(11.5vh - 32px) + (10vh * sin(calc((7*3.141592653589793)/ 4))));
            right: calc(8.5vh + (10vh * cos(calc((7*3.141592653589793)/ 4))));
            &:hover{
                transform: scale(1.15);
            }
        }
        upload-button{
            position: absolute;
            bottom: calc(11.5vh + (10vh * sin(calc((7*3.141592653589793)/ 4))));
            left: calc(8.5vh + (10vh * cos(calc((7*3.141592653589793)/ 4))));
        }
    }
}
.first{
    display: flex;
    width: 100%;
    height: 50vh;
    .general{
        display: flex;
        justify-content: space-between;
        .login,.password{
            display: flex;
            flex-direction: column;
        }
        width: 50%;
        app-input{
            padding-bottom: 5vh;
        }
    }
}

.error{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--white);    
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 35%;
}