<app-navbar [color]="'#01110A'"></app-navbar>

<body>
    <div class="imgAndLogin">
      <div class="half">
        <h1 class="title">{{login}}</h1>
        <form [formGroup]="loginForm" class="form">
          <mat-form-field hideRequiredMarker="true">
            <input matInput formControlName="oldLogin" required autocomplete="disabled">
            <mat-placeholder [ngStyle]="{'color': (loginForm.get('oldLogin')?.errors != null && loginForm.get('oldLogin')?.errors['invalidLogin'] != null) ? 'red' : '#FCFFFC'}">Ancien login *</mat-placeholder>
          </mat-form-field>
          <mat-form-field hideRequiredMarker="true">
              <input matInput formControlName="newLogin" required>
              <mat-placeholder [ngStyle]="{'color': (loginForm.get('newLogin')?.errors != null && loginForm.get('newLogin')?.errors['invalidLogin'] != null) ? 'red' : '#FCFFFC'}">Nouveau login *</mat-placeholder>
          </mat-form-field>
          <button mat-button (click)="setLogin()" [disabled]="!loginForm.valid">
            Modifier
          </button>
        </form>
      </div>
      <div class="half">
        <div id="img" *ngIf="img != null && img != 'null'" [ngStyle]="{'background' :'url('+img+')'}">
          <upload-button type="picture" (file)="getFile($event)"></upload-button>
        </div>
        <div *ngIf="img == null || img === 'null'" id="img">
          <mat-icon>image</mat-icon>
          <upload-button type="picture" (file)="getFile($event)"></upload-button>
        </div>
        <form [formGroup]="passwordForm" class="form">
          <mat-form-field hideRequiredMarker="true">
            <input matInput formControlName="oldPassword" required autocomplete="disabled" type="password">
            <mat-placeholder [ngStyle]="{'color': (passwordForm.get('oldPassword')?.errors != null) ? 'red' : '#FCFFFC'}">Ancien mot de passe *</mat-placeholder>
          </mat-form-field>
          <mat-form-field hideRequiredMarker="true">
              <input matInput formControlName="newPassword"  type="password">
              <mat-placeholder [ngStyle]="{'color': (passwordForm.get('newPassword')?.errors != null) ? 'red' : '#FCFFFC'}">Nouveau mot de passe *</mat-placeholder>
          </mat-form-field>
          <mat-form-field hideRequiredMarker="true">
            <input matInput formControlName="retypeNewpassword" required type="password">
            <mat-placeholder [ngStyle]="{'color': (passwordForm.get('retypeNewpassword')?.errors != null && passwordForm.get('retypeNewpassword')?.errors['notSamePassword'] != null) ? 'red' : '#FCFFFC'}">Retape le nouveau mot de passe *</mat-placeholder>
          </mat-form-field>
          <button mat-button (click)="setPassword()" [disabled]="!passwordForm.valid">
            Modifier
          </button>
        </form>
      </div>
    </div>
    <div class="likedStations">
        <div class="selectStation">
            <div class="select">
              <div class="searchBar">
                <input matInput class="bar" [(ngModel)]="searchTerm" type="text" placeholder="Rechercher une station" autocomplete="disabled" />
                <button (click)="filter(searchTerm)">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
  
              <div style="display: flex; flex-direction: column; height: 100%; align-items: center; width: 100%;">
                <div class="content" (click)="select(element.name)" *ngFor="let element of filteredData">
                  <p>{{element.name}}</p>
                </div>
              </div>
              
            </div>
            
  
            <div class="stations">
              <p class="selectedStation">Mes stations</p>
              <div [ngStyle]="{'justify-content' : selected.length === 0 ? 'center' : 'flex-start'}" style="display: flex; flex-direction: column; height: 100%; align-items: center; width: 100%;">
                <div class="content" (click)="select(element)" *ngFor="let element of selected">
                  <p>{{element}}</p>
                </div>
                <h1 *ngIf="selected.length === 0">Pas de stations préférées</h1>
              </div>
            </div>
          </div>
    </div>

    <div class="placesLiked">
        <img src="../../assets/like.jpg">
        <div class="places">
            <div class="liked" *ngFor="let place of placesLiked">
                <mat-icon>whatshot</mat-icon>
                <p>{{place.name}}</p>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 100%;" *ngIf="placesLiked.length === 0">
                <h1>Pas de restaurants likés</h1>
            </div>
        </div>
    </div>
</body>
