.carte{
    height: 50vh;
    border-radius: 0 !important;
    cursor: pointer;
}

.info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 100%;
    background-size: cover !important;
    fa-icon{
        position: absolute;
        top: 1vh;
        right: 2vh;
        color: #FCFFFC;
    }
}



.mat-card-header{
    margin-bottom: 0 !important;
    .mat-card-avatar{
        margin-left: 1vh;
        height: 40px;
        width: 40px;
    }
    
    .mat-card-title{
        text-align: center;
        margin-bottom: 0 !important;
        font-size: 2.5vh;
        font-family: 'Josefin Sans', sans-serif;
        margin-left: 1vh;
    }
}
::ng-deep .mat-card-header-text{
    margin: 0 !important;
    width: 60%;
    max-width: 60%;
    min-width: 60%;
}

.lignes{
    &::-webkit-scrollbar{
        display: none;
    }
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    .mat-card-avatar{
        height: 25px !important;
        width: 25px !important;
    }
    span.mat-line{
        font-size: 2vh !important;
        line-height: 2vh !important;
        color: #FCFFFC;
        width: fit-content;
        padding: 5px !important;
        white-space: break-spaces !important;
        font-family: 'Nunito', sans-serif !important;
        font-weight: bold !important;
        text-align: initial !important;
        
    }
}
mat-card{
    padding: 0 !important;
    box-shadow: 10px 5px 5px #666!important;
    width: 20vw;
}
mat-card-content{
    margin: 0;
    height: 100%;
}

.mat-card-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #6A2E35;
    color: #FCFFFC;
}

mat-list-item{
    height: 5vh !important;
    &:hover,&:active,&:focus{
        background-color: transparent !important;
    }
}

@media screen and (max-width: 600px){
    .carte{
        margin-bottom: 2vh;
    }
    .mat-card-avatar{
        height: 30px !important;
        width: 30px !important; 
    }

    mat-card{
        padding: 0 !important;
        box-shadow: 10px 5px 5px #666!important;
        width: 60vw;
    }
}