<div class="container center">
    <div class="buttonsContainer">
        <round-button (click)="navigate('restaurants')" text="Où manger" [styleInfos]="buttonColor"></round-button>
        <round-button (click)="navigate('bars')" text="Où boire" [styleInfos]="buttonColor"></round-button>
        <round-button (click)="navigate('loisirs')"text="Où sortir" [styleInfos]="buttonColor"></round-button>
        <round-button (click)="navigate('home')" text="Accueil" [styleInfos]="buttonColor"></round-button>
        <round-button (click)="navigate('user')" text="Page utilisateur" [styleInfos]="buttonColor"></round-button>    
    </div>
</div>

