a{
    color: #01110A;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8125rem;
    font-family: Century Gothic Std,arial,sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: font-size 100ms;
    &:hover{
        font-size: 1em;
    }
}

button{
    border: 0;
    height: 100%;
    padding: 0;
    margin: 0 15%;
}

#arrowIcons{
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
}







/////////////////////////////////////// Vue Ordinateur ///////////////////////////////////////
.container{
    height: 10vh;
    width: 100vw;
    background: var(--backgroundColor);
    position: relative;  
    transition: 1s;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}


// @media screen and (max-width:600px){
//     #logo{
//         font-size: 25px;
//     }
//     #iconesComp,#typeOfPlacesComp{
//         top: 3.8vh;
//     }
// }