<div class="background">
    <div class="title">
        <h1 class="first" data-text="I">C</h1>
        <h1 class="first" data-text="N">O</h1>
        <h1 class="first" data-text="S">N</h1>
        <h1 class="second" data-text="C">N</h1>
        <h1 class="second" data-text="R">E</h1>
        <h1 class="second" data-text="I">X</h1>
        <h1 class="third" data-text="P">I</h1>
        <h1 class="third" data-text="T">O</h1>
        <h1 class="third" data-text="I">N</h1>
    </div>
    <div class="img center">
        <h3>Pas encore inscrit ?</h3>
        <round-button [styleInfos]='signupButtonColor' text="S'inscrire" (click)="navigateToRegister()"></round-button>
    </div>
    <div class="login">
        
        <form class="form" (ngSubmit)="connexion()">
            <div class="infos center">
                <app-input text="Login" (input)="setValue($event,'Login')"></app-input>
                <app-input type="password" text="Mot de passe" (input)="setValue($event,'Password')"></app-input>
            </div>
            <round-button type="submit" [styleInfos]='connexionButtonColor' text="Se connecter"></round-button>
        </form>    
    </div>
</div>

<message [@error]="showMessage" [message]="message" [valid]="valid"></message>



