<div class="background">
    <div class="login">
        
        <form [formGroup]="formGroup" class="form" (ngSubmit)="connect()">
            <div style="display:flex; flex-direction: column; justify-content: center; height: 70%;">
                <app-input text="Login" ngDefaultControl formControlName="login"></app-input>
                <app-input type="password" text="Mot de passe" ngDefaultControl formControlName="password"></app-input>

            </div>
    
            <div style="display: flex; height: 30%; width: 100%; align-items: center; justify-content: space-around;">
                <round-button [styleInfos]='buttonColor' text="S'inscrire"></round-button>
                <round-button type="submit" [styleInfos]='buttonColor' text="Se connecter"></round-button>
            </div>
        </form>    
    </div>

    <div class="img"></div>
</div>


