<div class="background">
    <div class="title center">
        <h1 class="first">Connexion</h1>
        <h1 class="second">Connexion</h1>
        <h1 class="third">Connexion</h1>
        <h1 class="first">Connexion</h1>
    </div>
    <div class="img center">
        <h3>Pas encore inscrit ?</h3>
        <round-button [styleInfos]='signupButtonColor' text="S'inscrire" (click)="navigateToRegister()"></round-button>
    </div>
    <div class="login">
        
        <form class="form" (ngSubmit)="connexion()">
            <div class="infos center">
                <app-input [styleInfo]="inputInfos" text="Login" (input)="setValue($event,'Login')"></app-input>
                <app-input [styleInfo]="inputInfos" type="password" text="Mot de passe" (input)="setValue($event,'Password')"></app-input>
            </div>
            <round-button id="connexion" type="submit" [styleInfos]='connexionButtonColor' text="Se connecter"></round-button>

            <div id="phoneButton" class="center">
                <round-button type="submit" [styleInfos]='connexionButtonColor' text="Se connecter"></round-button>
                <round-button [styleInfos]='connexionButtonColor' text="S'inscrire" (click)="navigateToRegister()"></round-button>
            </div>
        </form>    
    </div>
</div>

<message [@error]="showMessage" [message]="message" [valid]="valid"></message>



