.upload{
    position: relative;
    margin: auto;
}
.upload .round{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    transition: all 400ms;
    border: 2px solid var(--borderColor);
    background: var(--backgroundColor);
    &:hover{
        i{color: var(--textColorHover)};
        &::before{
            width: 100%;
        }
        border-color: var(--borderColorActive);
    }
    i{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        color: var(--textColor);
        z-index: 1;
        transition: .4s;
    }
    &::before{
        background: var(--backgroundColorActive);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        transition: 0.4s;
    }
}
.upload .round input[type = "file"]{
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    opacity: 0;
    z-index: 10;
}