.upload{
    position: relative;
    margin: auto;
}
.upload .round{
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    transform: scale(1);
    transition: all 400ms;
    &:hover{
        transform: scale(1.15);
    }
    i{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        color: var(--color);
        background: var(--backgroundColor);
    }
}
.upload .round input[type = "file"]{
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    opacity: 0;
    z-index: 10;
}
input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
};

.btn-warning{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #FCFFFC;
    background-color: #01110A;
    border: 0;
    transition: 400ms;
    overflow: hidden;
    transform: scale(1);
    &:hover{
        transform: scale(1.15);
    }
}
.btn-warning input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
}