<div class="container" [ngStyle]="{'width.vw' : width}">
    <div [matTooltip]="'Quantité: '+ quantity+'/10'" matTooltipPosition="left" class="bar" #tooltip="matTooltip" (click)="tooltip.show()" [ngStyle]="{'width': quantity * 10 + '%', 'background-color': colorQuantity,'height.vh' : height}"></div>
    <div [matTooltip]="'Déco: '+ note_deco+'/10'" matTooltipPosition="left" class="bar" #tooltip="matTooltip" (click)="tooltip.show()" [ngStyle]="{'width': note_deco * 10 + '%', 'background-color': colorDeco,'height.vh' : height}"></div>
    <div [matTooltip]="'Rapport qualité/prix: '+ quality_price+'/10'" matTooltipPosition="left" class="bar" #tooltip="matTooltip" (click)="tooltip.show()" [ngStyle]="{'width': quality_price * 10 + '%', 'background-color': colorQualityPrice,'height.vh' : height}"></div>
</div>
