<div class="percent center" *ngIf="infos != null">
    <svg [attr.height]="size" [attr.width]="size">
        <circle id="behind" [attr.cx]="center.x" [attr.cy]="center.y" [attr.r]="radius" 
        [attr.stroke-dasharray]="strokeDashArray" stroke-dashoffset="0"></circle>

        <circle [attr.cx]="center.x" [attr.cy]="center.y" [attr.r]="radius" 
        [attr.stroke-dasharray]="strokeDashArray" [attr.stroke-dashoffset]="strokeDashOffset"></circle>
    </svg>
    <div class="number center">
        <div class="value center">
            <p [ngStyle]="{'font-size.px' : fontSizeNote,'font-weight' : fontWeight}" *ngIf="infos.note >= 0 && !infos.editable">{{infos.note}}</p>
            <input (blur)="setNote($event)" [value]="infos.note" type="number" max="10" min="1" [ngStyle]="{'font-size.px' : fontSizeNote,'font-weight' : fontWeight,'color' : infos.textColor}" *ngIf="infos.note >= 0 && infos.editable"/>
        </div>
    </div>
</div>