<div class="body" [ngStyle]="{'background' : backgroundColor}">
  <div class="first">
    <div class="topbarContainer">
      <div class="navbar">
          <div class="container">
              <img id="logo" [src]="logoImageSrc" routerLink="/home">
              <round-button id="mainLink" text="Mes lieux" [styleInfos]="buttonColor" routerLink="/filter"></round-button>         
          </div>
      </div>
    </div>
    <div class="section" id="firstSection">
      <div class="subtitles" [ngStyle]="{'left.vw': firstSectionPosition}">
        <h1 class="subtitle">InfosEssentielles</h1>
        <h1 class="subtitle">InfosEssentielles</h1>
        <h1 class="subtitle">InfosEssentielles</h1>  
      </div>

      <div class="nameAndAddress">
        <app-input id="nameAndAddress" [errorMessage]="nameError" (selectAutocomplete)="fillForm($event)" [autocompleteInfos]="autocompleteInfos" [autocomplete]="autocompleteName" [value]="placeInfo.name" text="Nom" (change)="nameFilled()" [styleInfo]="validName() ? validInput : invalidInput" (input)="setValue($event,'name')"></app-input>
        <app-input id="nameAndAddress" [errorMessage]="addressError" (selectAutocomplete)="fillForm($event)" [autocompleteInfos]="autocompleteInfos" [autocomplete]="autocompleteAddress" [value]="placeInfo.address" (change)="checkAddress()" text="Adresse" [styleInfo]="validAddress ? validInput : invalidInput" (input)="setValue($event,'address')"></app-input>  
      </div>
      <div class="selects">
        <round-select [errorMessage]="categoryError" [multiselect]="false" (selectionChange)="setValue($event,'category')" [selectAll]="false" [infos]="placeInfo.category.length > 0 ? validSelectInfos : invalidSelectInfos" [data]="typesSelect" text="Catégorie"></round-select>
        <round-select [errorMessage]="typeError" [multiselect]="false" id="restaurantType" [ngStyle]="{'width' : placeInfo.category === 'Restaurant' ? '30vw' : '0','margin-left' : placeInfo.category === 'Restaurant' ? '10vw' : '0','overflow' : placeInfo.category === 'Restaurant' ? 'visible' : 'hidden','opacity' : placeInfo.category === 'Restaurant' ? '1' : '0'}" (selectionChange)="setValue($event,'type')" [selectAll]="false" [infos]="placeInfo.type.length > 0 ? validSelectInfos : invalidSelectInfos" [data]="restaurantsTypesSelect" text="Type de restaurant"></round-select>
      </div>
      <div class="checkboxs">
        <div class="line">
          <checkbox [value]="placeInfo.tested" (checked)="setValue($event,'tested')" [styleInfos]="checkboxInfos"></checkbox>
          <p style="color: var(--thirdColor);" *ngIf="placeInfo.tested && placeInfo.category !== ''">{{placeInfo.category}} testé</p>
          <p style="color: var(--thirdColor);" *ngIf="placeInfo.tested && placeInfo.category === ''">Lieu testé</p>
          <p style="color: var(--secondColor);" *ngIf="!placeInfo.tested && placeInfo.category !== ''">{{placeInfo.category}} non testé</p>
          <p style="color: var(--secondColor);" *ngIf="!placeInfo.tested && placeInfo.category === ''">Lieu non testé</p>
        </div>

        <div class="line">
          <checkbox [value]="placeInfo.visible" (checked)="setValue($event,'visible')" [styleInfos]="checkboxInfos"></checkbox>
          <p style="color: var(--thirdColor);" *ngIf="placeInfo.visible && placeInfo.category !== ''">{{placeInfo.category}} visible pour les autres utilisateurs</p>
          <p style="color: var(--thirdColor);" *ngIf="placeInfo.visible && placeInfo.category === ''">Lieu visible pour les autres utilisateurs</p>
          <p style="color: var(--secondColor);" *ngIf="!placeInfo.visible && placeInfo.category !== ''">{{placeInfo.category}} invisible pour les autres utilisateurs</p>
          <p style="color: var(--secondColor);" *ngIf="!placeInfo.visible && placeInfo.category === ''">Lieu invisible pour les autres utilisateurs</p>
        </div>
        
      </div>
    </div>
    <div class="section" [ngStyle]="{'display' : placeInfo.tested && canSubmit() ? 'flex' : 'none'}" id="gradeSection">
      <div class="subtitles" [ngStyle]="{'right.vw': gradeSectionPosition}">
        <h1 class="subtitle">TesNotes</h1>
        <h1 class="subtitle">TesNotes</h1>
        <h1 class="subtitle">TesNotes</h1>  
        <h1 class="subtitle">TesNotes</h1>
        <h1 class="subtitle">TesNotes</h1>
        <h1 class="subtitle">TesNotes</h1> 
        <h1 class="subtitle">TesNotes</h1>
        <h1 class="subtitle">TesNotes</h1>
        <h1 class="subtitle">TesNotes</h1> 
      </div>
      <app-textfield [value]="comment.comment" text="Commentaire" [styleInfo]="normalInput" (input)="setValue($event,'comment')"></app-textfield>
      <div class="grades">
        <app-input [value]="comment.quality_price" class="number" text="Rapport qualité/prix" type="grade" [styleInfo]="normalInput" (input)="setValue($event,'quality_price')"></app-input>
        <app-input [value]="comment.quantity" class="number" text="Quantité" type="grade" [styleInfo]="normalInput" (input)="setValue($event,'quantity')"></app-input>
        <app-input [value]="comment.service" class="number" text="Qualité du service" type="grade" [styleInfo]="normalInput" (input)="setValue($event,'service')"></app-input>    
      </div>
    </div>
    <div class="section" id="complementSection" *ngIf="canSubmit()">
      <div class="subtitles" [ngStyle]="{'left.vw': secondSectionPosition}">
        <h1 class="subtitle">InfosComplémentaires</h1>
        <h1 class="subtitle">InfosComplémentaires</h1>
        <h1 class="subtitle">InfosComplémentaires</h1>  
      </div>
      <div class="containerInfos">
        <div class="stations">
          <div class="line" *ngFor="let station of stations">
            <div class="station">
              <p>{{station.name}}</p>
              <div class="lignesPictures">
                <img *ngFor="let ligne of station.lignes" [src]="'../../assets/images-lignes/'+station.reg+'/'+ligne+'.png'">
              </div>
            </div>
          </div>
        </div>
        
        <div class="infos">
          <app-input [value]="placeInfo.website" text="Site Web" [styleInfo]="normalInput" (input)="setValue($event,'website')"></app-input>
          <app-input [value]="placeInfo.link_menu" text="Lien Menu" [styleInfo]="normalInput" (input)="setValue($event,'menu')"></app-input>    
        </div>
      </div>
      <div class="pictures">
        <div class="picture" id="first">
          <upload-button [styleInfos]="uploadButtonInfos" type="picture" (file)="facadeImage($event)"></upload-button>
        </div>
        <div class="picturesContainer">
          <div class="picture" *ngFor="let picture of pictures; index as i;"
            [ngStyle]="{'background-image': 'url('+picture.src+')'}">
            <fa-icon [icon]="crossIcon" (click)="removeImage(i)"></fa-icon>
          </div>
        </div>
        
      </div>
    </div>
    <div class="section" id="horairesSection" *ngIf="canSubmit()">
      <div class="subtitles" [ngStyle]="{'right.vw': horairesSectionPosition}">
        <h1 class="subtitle">Horaires</h1>
        <h1 class="subtitle">Horaires</h1>
        <h1 class="subtitle">Horaires</h1>  
        <h1 class="subtitle">Horaires</h1>
        <h1 class="subtitle">Horaires</h1>
        <h1 class="subtitle">Horaires</h1>  
        <h1 class="subtitle">Horaires</h1>
        <h1 class="subtitle">Horaires</h1>
        <h1 class="subtitle">Horaires</h1> 
      </div>

      <div class="table">
        <div class="column" id="left">
          <div class="header center">
            <h3>Horaires</h3>
          </div>
          <div class="body center">
            <p>Ouverture</p>
          </div>
          <div class="body center">
            <p>Première fermeture</p>
          </div>
          <div class="body center">
            <p>Deuxième ouverture</p>
          </div>
          <div class="body center">
            <p>Deuxième fermeture</p>
          </div>
        </div>
        <div class="column" *ngFor="let h of horaires; index as i">
          <div class="header center" [ngClass]="dayOpen[h.day] ? 'enable' : 'disable'">
            <h3>{{h.day}}</h3>
            <fa-icon class="center" [icon]="dayOpen[h.day] ? checkIcon : crossIcon" (click)="closeDay(h.day)"></fa-icon>
          </div>
          <div class="body center" [ngClass]="dayOpen[h.day] ? 'enable' : 'disable'">
            <input type="time" [value]="h.ouverture" (input)="setValue($event,'horaires',h.day,'ouverture')">
          </div>
          <div class="body center" [ngClass]="h.ouverture !== '' && dayOpen[h.day] ? 'enable' : 'disable'">
            <input type="time" [value]="h.fermeture_midi" (input)="setValue($event,'horaires',h.day,'fermeture_midi')">
          </div>
          <div class="body center" [ngClass]="h.fermeture_midi !== '' && dayOpen[h.day] ? 'enable' : 'disable'">
            <input type="time" [value]="h.ouverture_soir" (input)="setValue($event,'horaires',h.day,'ouverture_soir')">
          </div>
          <div class="body center" [ngClass]="h.ouverture_soir !== '' && dayOpen[h.day] ? 'enable' : 'disable'">
            <input type="time" [value]="h.fermeture" (input)="setValue($event,'horaires',h.day,'fermeture')">
          </div>
        </div>
      </div>

      <div class="fillAllHoraires center">
        <div class="table">
          <div class="column" id="left">
            <div class="header center">
              <h3>Horaires</h3>
            </div>
            <div class="body center">
              <p>Ouverture</p>
            </div>
            <div class="body center">
              <p>Première fermeture</p>
            </div>
            <div class="body center">
              <p>Deuxième ouverture</p>
            </div>
            <div class="body center">
              <p>Deuxième fermeture</p>
            </div>
          </div>
          <div class="column" id="week">
            <div class="header center">
              <h3>Rempli tous les champs</h3>
            </div>
            <div class="body center">
              <input type="time" [value]="globalHoraires.ouverture" (input)="setAllHoraires($event,'ouverture')">
            </div>
            <div class="body center" [ngClass]="globalHoraires.ouverture !== '' ? 'enable' : 'disable'">
              <input type="time" [value]="globalHoraires.fermeture_midi" (input)="setAllHoraires($event,'fermeture_midi')">
            </div>
            <div class="body center" [ngClass]="globalHoraires.fermeture_midi !== '' ? 'enable' : 'disable'">
              <input type="time" [value]="globalHoraires.ouverture_soir" (input)="setAllHoraires($event,'ouverture_soir')">
            </div>
            <div class="body center" [ngClass]="globalHoraires.ouverture_soir !== '' ? 'enable' : 'disable'">
              <input type="time" [value]="globalHoraires.fermeture" (input)="setAllHoraires($event,'fermeture')">
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
  <round-button *ngIf="device !== 'mobile'" id="submit" text="Enregistrer" (click)="add()" [styleInfos]="canSubmit() ? validButton : invalidButton"></round-button>         
  <fa-icon id="submitMobile" [icon]="checkIcon" *ngIf="device === 'mobile'" (click)="add()" 
  [ngStyle]="{'background' : canSubmit() ? 'var(--thirdColor)' : 'var(--secondColor)'}"></fa-icon>
  <div class="error" [ngStyle]="{'height' : errorMessage.length > 0 ? '10vh' : '0','background' : canSubmit() ? 'var(--thirdColor)' : 'var(--secondColor)'}">
    <p>{{errorMessage}}</p>
  </div>
</div>
  