.body{
    position: relative;
    transition: all 400ms ;
}
.first{
    position: relative;
    width: 100vw;
    background: transparent;
    min-height: 80vh;
    .topbarContainer{
        position: absolute;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        z-index: 100;
        .navbar{
            position: fixed;
            height: 100px;
            width: 100vw;
            left: 0;
            top: 0;
            .container{
                position: relative;
                height: 100%;
                #logo{
                    position: absolute;
                    top: 0;
                    left: 1vw;
                    width: 100px;
                    transition: all 400ms;
                    z-index: 100;
                }
                #mainLink{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    right: 2vw;
                    text-align: center;
                    width: 10vw;
                    height: 40%;
                    z-index: 100;
                }
            }
        }
        
    }
    .subtitles{
        display: flex;
        position: relative;
        top: 0;
        margin-top: 0 !important;
        margin-bottom: 15vh !important;
        .subtitle{
            transition: .5s;
            font-size: 75px;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--titleColor);
        }
        .subtitle:nth-child(even){
            color: transparent;
            -webkit-text-stroke: 2px var(--titleColor);
        }
    }
    
    .section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10vw;
        min-height: 100vh;
        max-height: 100%;
        transition: 1s;
        padding-top: 20vh;
        position: relative;
        .containerInfos{
            display: flex;
            width: 80%;
            justify-content: space-between;
            align-items: center;
            height: 30vh;
        }
        .infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 40%;
            height: 50%;
        }
        .nameAndAddress{
            display: flex;
            width: 70%;
            justify-content: space-between;
        }
        .selects{
            display: flex;
            align-items: center;
            width: 70%;
            round-select{
                transition: opacity 1s, margin-left 1s, overflow 1s, width 1s;
                width: 30vw
            }
        }
        .checkboxs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            .line{
                display: flex;
                align-items: center;
                p{
                    font-size: 16px;
                    padding-left: 2vw;
                }
            }
        }
        .stations{
            display: flex;
            flex-direction: column;
            width: 60%;
            .line{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2vh 0;
                width: 100%;
                border: 2px solid var(--stationColor1);
                background-color: var(--stationColor1);
                border-radius: 5px;
                margin-bottom: 1vh;
                transition: .5s;
                &:last-child{margin-bottom: 0;}
                &::before{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: var(--stationColor2);
                    width: 0;
                    transition: .5s;
                    border-radius: 5px;
                }
                &:hover{
                    .station{color: var(--stationColor1)};
                    &::before{width: 100%;}
                }
            }
            .station{
                display: flex;
                justify-content: space-between;
                width: 80%;
                z-index: 1;
                transition: .5s;
                align-items: center;
                color: var(--stationColor2);
                .lignesPictures{
                    display: flex;
                    max-width: 60%;
                    & > *{margin-left: 1vw;}
                    img{height: 25px;}
                }
                p{font-size: 16px; font-weight: 800;}
            }
        }
        .grades{
            display: flex;
            justify-content: space-between;
            width: 70%;
        }
        .pictures{
            display: flex;
            position: relative;
            width: 80%;
            .picturesContainer{
                display: flex;
                max-width: 90%;
                overflow-x: auto;
                overflow-y: clip;
                &::-webkit-scrollbar {
                    border-radius: 5px;
                    width: 4px;
                    background-color: var(--white);
                 }
                 &::-webkit-scrollbar-thumb {
                    background-color: var(--white); /* Set the color of the thumb */
                 }
            }
            .picture{
                height: 75px;
                width: 75px;
                min-width: 75px;
                border: 1px solid var(--pictureColor);
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                margin-right: 2vw;
                position: relative;
                transition: .5s;
                fa-icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 32px;
                    width: 32px;
                    position: absolute;
                    bottom: -16px;
                    right: -16px;
                    background: var(--black);
                    color: var(--white);
                    border-radius: 50%;
                    transform: scale(1);
                    cursor: pointer;
                    transition: 400ms;
                    &:hover{
                        transform: scale(1.15);
                    }
                }
            }
            #first{border-style: dashed; fa-icon{display: none;}}
            upload-button{
                position: absolute;
                right: 16px;
                bottom: 16px;
                z-index: 1;
            }
        }
        .table{
            display: flex;
            .column{
                display: flex;
                flex-direction: column;
                input{
                    color: var(--colorBodyHoraires);
                }
                .header,.body{
                    position: relative;
                    height: 8vh;
                    width: 10vw;
                    &::before{
                        content: '';
                        position: absolute;
                        z-index: 1;
                        opacity: .25;
                        background: var(--backgroundHeaderHoraires2);
                        width: 0;
                        height: 100%;
                        transition: .5s;
                        left: 0;
                    }
                }
                .header{
                    position: relative;
                    text-transform: uppercase;
                    background: var(--backgroundHeaderHoraires1);
                    h3{
                        text-align: center;
                        color: var(--colorHeaderHoraires);
                        font-weight: 800;
                    }
                    fa-icon{
                        position: absolute;
                        cursor: pointer;
                        bottom: 1vh;
                        right: 1vw;
                        color: var(--colorHeaderHoraires);
                        z-index: 2;
                        transition: .5s;
                    }
                }
                .disable{
                    position: relative;
                    input{
                        -webkit-user-select: none;  
                        -moz-user-select: none;    
                        -ms-user-select: none;      
                        user-select: none;
                    }
                    &::before{
                        width: 100%;
                    }
                }
            }
            .column:last-child .header{
                border-top-right-radius: 5px;
            }
            .column:last-child .body:last-child::before{
                border-bottom-right-radius: 5px;
            }
            #left{
                .header{
                    border-top-left-radius: 5px;
                }
                .body{
                    height: 8vh;
                    width: 10vw;
                    text-transform: uppercase;
                    background: var(--backgroundHeaderHoraires1);
                    p{
                        text-align: center;
                        color: var(--colorHeaderHoraires);
                        font-weight: 800;
                    }
                }
                .body:last-child{
                    border-bottom-left-radius: 5px;
                }
            } 
        }
        .fillAllHoraires{
            width: 80%;
            #week .header,#week .body{
                width: 30vw;
            }
            #left .body{
                background: var(--backgroundHeaderHoraires2);
            }
            .header{
                background: var(--backgroundHeaderHoraires2) !important;
            }
        }
    }
    .section > *{
        margin: 5vh 0;
    }
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="time"]{
    background: transparent;
    outline: none;
    border: 0;
}
#nameAndAddress{
    width: 30vw;
}
#submit{
    position: fixed;
    right: 1vw;
    bottom: 2vh;
    width: 10vw;
}
#logo{
    cursor: pointer;
}
#submitMobile{
    position: fixed;
    right: 1vw;
    bottom: 2vh;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    height: 32px;
    width: 32px;
    color: var(--white);
    transition: 400ms;
}
.number{
    width: 15vw;
}
.error{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--white);    
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 35%;
}
app-input{width: fit-content;}
#restaurantType{width: 15vw;}
round-select{width: 10vw;}
app-textfield{width: 70%;}

@media screen and (max-width: 600px){
    .first .topbarContainer .navbar{position: absolute;}
    .first .topbarContainer .navbar .container #mainLink{width: 30vw; top: 0;bottom: 0;margin: auto;}
    .first .title{font-size: 35px;}
    .first .double{flex-direction: column;}
    .first .section{width: 100%;}
    round-select{width: 40vw;}
    .number{
        width: 60vw;
    }

}