<div class="body center" [ngStyle]="{'transform': scale,'width.vw': widthBody, 'height.vh': heightBody}">
    <div class="start center">
        <h1 [ngStyle]="{'transform': transformStart}">NiceToMealYou</h1>
    </div>
    <div class="start center">
        <h1 [ngStyle]="{'transform': transformStart}">NiceToMealYou</h1>
    </div>
    <div class="end center">
        <h1 [ngStyle]="{'transform': transformEnd}">Presque</h1>
    </div>
    <div class="end center">
        <h1 [ngStyle]="{'transform': transformEnd}">Presque</h1>
    </div>
    <div class="loaderContainer">
        <div class="loader" [ngStyle]="{'width': width}"></div>
    </div>
    <div class="background" [ngStyle]="{'height.%': heightBackground}"></div>
</div>

