// body{
//     background: var(--white);
// }
// .top{
//     display: flex;
//     height: 100vh;
//     .right{
//         padding: 5vh 0;
//         width: 20vw;
//         justify-content: center;
//     }
//     .left,.right{
//         height: 90vh;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         color: var(--white);
//         .mat-card-avatar{
//             margin-bottom: 3vh;
//             height: 150px;
//             width: 150px;
//             border: 2px solid var(--white);
//         }
//         round-select{
//             padding-top: 2vh;
//             width: 15vw;
//         }
//         .title{
//             padding: 1vh 0;
//             font-size: 25px;
//         }
//         .right{
//             justify-content: center;
//         }
//     }
//     .center{
//         width: 60vw;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         height: 80vh;
//         position: relative;
//         padding-top: 20vh;
//         progress-bar{
//             position: absolute;
//             top: 5vh;
//             left: 5vh;
//         }
//         show-horaires{
//             width: 50%;
//         }
//     }
//     .left{
//         width: 16vw;
//         padding: 5vh 2vw;
//         background: var(--mainColor);
//     }
// }
// p{
//     word-break:normal;
// }

// button{
//     padding: 0;
// }
// .placesRoll{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 80%;
//     position: relative;
//     .results{
//         height: 80vh;
//         width: 50vw;
//     }
// }
// app-card{
//     margin: 0 5vw;
// }
// .scrollButton{
//     display: flex; align-items: center; width: 10vw; height: 100%;
//     button{
//         cursor: pointer; height: 10%; width: 100%; color: var(--white); background: var(--mainColor);
//     }
// }



@media screen and (max-width: 600px){
    app-card{
        margin: 0 15vw;
    }
    .top{
        min-height: 80vh;
    }
    .compare{
        display: none;
    }
    .subtitle{
        width: 60vw;
        font-size: 3vh;
    }
    .scrollButton{
        display: none;
    }
}