<div class="body" id="page" [ngStyle]="{'background' : backgroundColor.color}">
    <div class="navbar center">
        <div class="navbarButtons">
            <round-button class="navbarButton" text="Se connecter" [styleInfos]="loginButtonColorInfos" (click)="navigate('/login')"></round-button>
            <round-button class="navbarButton" text="S'inscrire" [styleInfos]="registerButtonColorInfos" (click)="navigate('/register')"></round-button>         
        </div>
    </div>
    <div class="glassCard cardsBackground" 
    [ngStyle]="{'top.%': infos.top, 'width.%': infos.width, 'height.%': infos.height, 'left.%': infos.left, 'border-color': textColor}" 
    *ngFor="let infos of infosCardsBackground">
        <div class="glassCardBackground"
        [ngStyle]="{'background': infos.color}"></div>
    </div>
    <div class="first center" id="first">
        <img *ngFor="let infosColors of selectionableColors" 
        [ngClass]="[beginInfiniteAnimationBoussole ? 'movingBoussole' : '', infosColors.color === backgroundColor.color ? '' : 'hideLogo']" 
        id="bigLogo" 
        [src]="'../../assets/logo/' + paletteName + '/main/' + infosColors.logoToShow + '.png'" 
        [@rotateBoussole]="rotateBoussoleState">

        <div class="scrollClickable" [ngStyle]="{'opacity': opacityLinks[0] ? '1' : '0'}" (click)="goToDiv('about')">
            <p id="firstLink" class="link">La suite <fa-icon class="arrowDownIcon" [icon]="arrowDownIcon"></fa-icon></p> 
        </div>
        <change-background-buttons (onBackgroundChange)="changeBackgroundColor($event)"></change-background-buttons>
    </div>

    <div class="presentation" id="about">
        <div class="line" id="presentation">
            <div class="topDetails">
                <div class="objectifsParagraphe">
                    <h1 class="objectifsTextLeft">
                        L'adresse qui propose des plats que tous adorent.
                    </h1>
                    <h1 class="objectifsTextRight">
                        L'adresse qui n'est pas trop loin, ou à la limite à quelques stations de métro.
                    </h1>
                    <h1 class="objectifsTextLeft">
                        L'adresse bon marché, voire avec un code promo ça serait le top. 
                    </h1>
                    <h1 class="objectifsTextRight">
                        L'adresse qui est surtout encore ouverte.
                    </h1>
                </div>
                <h1 id="firstProblem" [ngStyle]="{'opacity': positionPresentationIcon.textOpacity ? '1' : '0'}"> 
                    Avec NiceToMealYou, vous trouverez cette adresse en quelques minutes
                </h1>
            </div>
        </div>
        <div class="line" id="principes">
            <div class="top inversePosition">
                <p id="secondLink" class="link" (click)="goToDiv('about')"
                [ngStyle]="{'opacity': opacityLinks[1] ? '1' : '0'}">L'adresse qui quoi ?<fa-icon class="arrowDownIcon" [icon]="arrowUpIcon"></fa-icon></p> 
                <div class="topIcon">
                    <img *ngFor="let infosColors of selectionableColors" 
                    [ngClass]="infosColors.color === backgroundColor.color ? '' : 'hideLogo'" 
                    class="animatedIconTopLine"
                    [ngStyle]="{'top.%' : positionLocationIcon.paddingIcon}"
                    [src]="'../../assets/logo/' + paletteName + '/small/' + infosColors.logoToShow + '.png'" >
                </div>
            </div>
            <div class="cardsPrincipes">
                <div *ngFor="let infos of infosAffichagesSectionPrincipes"
                 class="glassCard cardPrincipes center">
                 <round-button class="iconCardPrincipes center" [icon]="infos.icon" [styleInfos]="infos.iconInfos"></round-button> 
                    <div class="glassCardBackground" 
                    [ngStyle]="{'background': infos.backgroundColor}"></div>
                    <div class="hoverBackgroundCard"></div>
                    <h1 class="cardPrincipesTitle">{{infos.texts[1]}}</h1>
                    <p class="cardPrincipesDetails">{{infos.texts[0]}}</p>
                </div>
            </div>
        </div>
        <div class="line" id="benefits">
            <div class="top inversePositionTop">
                <div class="topIcon">
                    <img *ngFor="let infosColors of selectionableColors" 
                    [ngClass]="infosColors.color === backgroundColor.color ? '' : 'hideLogo'" 
                    class="animatedIconReverseTopLine"
                    [ngStyle]="{'top.%' : positionBenefitsIcon.paddingIcon}"
                    [src]="'../../assets/logo/' + paletteName + '/small/' + infosColors.logoToShow + '.png'" >
                </div>
                <p id="thirdLink" class=" link" (click)="goToDiv('principes')"
                [ngStyle]="{'opacity': opacityLinks[2] ? '1' : '0'}">C'est quoi concrètement déjà ? <fa-icon class="arrowDownIcon" [icon]="arrowUpIcon"></fa-icon></p> 
            </div>
            <div class="cardsAvantages">
                <div *ngFor="let infos of infosAffichagesSectionAvantage" [id]="infos.id" class="cardAvantages center">
                    <div class="backgroundCardAvantages"></div>
                    <div class="hoverBackgroundCardAvantages" [ngStyle]="{'background': complementaryColor}"></div>
                    <h1 class="cardAvantagesTitle">{{infos.value[1]}}</h1>
                    <p class="cardAvantagesDetails">{{infos.value[0]}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottomBar">
        <div class="backgroundBottomBar"></div>
        <round-button class="buttonBottomBar" data-text="Connexion" [icon]="signUpIcon" [styleInfos]="bottomBarIconsInfos" routerLink="/register"></round-button> 
        <round-button class="buttonBottomBar" data-text="Inscription" [icon]="signInIcon" [styleInfos]="bottomBarIconsInfos" routerLink="/login"></round-button> 
    </div>
</div>