@import url('./style/avantages.scss');
@import url('./style/first.scss');
@import url('./style/objectif.scss');
@import url('./style/principes.scss');

.body{
    transition: .4s cubic-bezier(.27,.88,.52,.95);
    color: var(--textColor);
    overflow: hidden;
}
#bigLogo{
    position: absolute;
    inset: 0;
    margin: auto;
    opacity: 1;
}
.hideLogo{
    opacity: 0 !important;
}

.scrollClickable{
    position: absolute;
    bottom: 5vh;
    left: 2vw;
    transition: all 400ms;
}

.arrowDownIcon{
    font-size: 20px;
    margin-left: 15px;
}
.link{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    height: 30px;
    z-index: 10;
    text-align: center;
    transition: all 400ms;
    &:hover{
        &::before{
            width: 100%;
        }
    }
    &::before{
        content: '';
        position: absolute;
        bottom: -5px;
        height: 2px;
        width: 0;
        background: var(--textColor);
        transition: all 400ms;
    }
}

.firstRectangle{
    left: 0;
    top: 0;
    position: absolute;
    height: 65vh;
    width: 10vw;
}
.secondRectangle{
    right: 5vw;
    top: 35vh;
    position: absolute;
    height: 45vh;
    width: 35vw;
}
.thirdRectangle{
    left: 5vw;
    top: 100vh;
    position: absolute;
    height: 30vh;
    width: 65vw;
}
.fourthRectangle{
    right: 0;
    bottom: 0;
    position: absolute;
    height: 15vw;
    width: 15vw;
}
.fifthRectangle{
    left: 10vw;
    bottom: 0;
    position: absolute;
    height: 55vh;
    width: 10vw;
}
.movingBoussole{
    animation: boussole-animation 7s linear infinite;
}
.animatedIconTopLine,.animatedIconReverseTopLine{
    width:5vw;
    right: 0;
    position:absolute;
}
.inversePositionTop .animatedIconTopLine,.animatedIconReverseTopLine{
    left: 0;
}
.inversePositionTop .link{
    text-align: end;
    margin: 0;
}
.animatedIconTopLine{
    animation: animation-icon-top-line 6s linear infinite 1.5s;
}
.animatedIconReverseTopLine{
    animation: reverse-animation-icon-top-line 8s linear infinite;
}
@keyframes boussole-animation {
    0%    {transform: rotate(0deg)}
    20%   {transform: rotate(5deg)}
    22%   {transform: rotate(4deg)}
    26%   {transform: rotate(6deg)}
    60%   {transform: rotate(-6deg)}
    65%   {transform: rotate(-4deg)}
    68%   {transform: rotate(-5deg)}
    100%   {transform: rotate(0deg)}
}
@keyframes reverse-animation-icon-top-line {
    0%    {transform: rotate(0deg)}
    21%   {transform: rotate(-94deg)}
    25%   {transform: rotate(-90deg)}
    23%   {transform: rotate(-86deg)}
    46%   {transform: rotate(-184deg)}
    50%   {transform: rotate(-180deg)}
    48%   {transform: rotate(-176deg)}
    71%   {transform: rotate(-274deg)}
    75%   {transform: rotate(-270deg)}
    73%   {transform: rotate(-266deg)}
    96%   {transform: rotate(-364deg)}
    100%    {transform: rotate(-360deg)}
    98%   {transform: rotate(-356deg)}
}
@keyframes animation-icon-top-line {
    0%    {transform: rotate(0deg)}
    21%   {transform: rotate(94deg)}
    25%   {transform: rotate(90deg)}
    23%   {transform: rotate(86deg)}
    46%   {transform: rotate(184deg)}
    50%   {transform: rotate(180deg)}
    48%   {transform: rotate(176deg)}
    71%   {transform: rotate(274deg)}
    75%   {transform: rotate(270deg)}
    73%   {transform: rotate(266deg)}
    96%   {transform: rotate(364deg)}
    100%    {transform: rotate(360deg)}
    98%   {transform: rotate(356deg)}
}

.presentation{
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; 
}

.line{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 0 5%;
    padding-bottom: 5vh;
    position: relative;
}

.top{
    position: relative;
    width: 96vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.topTitle{
    transition: .5s;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
}
.topIcon{
    position: relative;
    height: 100%;
    width: 20%;
}

.bottomBar{
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-radius: 50px;
    height: 40px;
    width: 40vw;
    padding: 0 3vw;
    left: 27vw;
    bottom: 10px;
    display: none;
}
.buttonBottomBar{
    position: relative;
    width: auto !important;
    &:active,&:hover{
        &::before{
            width: 70px;
            padding: 5px 0;
        }
    }
    &::before{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 0;
        position: absolute;
        left: -20px;
        padding: 0;
        top: -35px;
        content: attr(data-text);
        color: var(--textColor);
        background: var(--backgroundColor);
        transition: .2s;
        border-radius: 5px;
    }
}
.backgroundBottomBar{
    border-radius: 50px;
    position: absolute;
    left: -3vw;
    width: calc(100% + 6vw);
    height: 100%;
    background: white;
}


@media screen and (max-width: 600px){
    .bottomBar{display: flex; transition: 0s;}
    .link{
        display: none;
    }
    .scrollClickable{
        display: none;
    }
    .top{height: 25vh;}
    .topTitle{font-size: 40px;}
    .animatedIcon{
        font-size: 40px;
        width: fit-content;
    }
    .changeColorContainer{
        top: 5vh;
        bottom: auto;
        right: auto;
        transition: 0s;
    }
}
