.container{
    max-height: 100%;
    overflow: hidden;
    width: 100vw;
}
p{
    display: flex;
    justify-content: center;
    color: var(--white);
    padding: 1vh 2vw;
    width: fit-content;
    border-radius: 5px 5px 0 0;
}