<div [ngClass]="[borderClass, paddingClass]" class="inputBox" *ngIf="styleInfo != null">
    <input [ngClass]="[inputClass]" (blur)="sendValueForBlur($event)" (change)="closeAutocomplete()" (ngModelChange)="checkValidGrade($event)" 
    [(ngModel)]="value" [type]="type" autocomplete="disable" [max]="max" [min]="min" [ngStyle]="{'border' : styleInfo.bottomOnly ? '0' : '2px solid var(--borderColor)', 'border-radius' : styleInfo.bottomOnly ? '0' : '5px'}">
    <span>{{text}}</span>
    <p class="grade" *ngIf="showGrade">/10</p>
    <div *ngIf="autocomplete.length > 0" class="autocomplete" [ngStyle]="{'height' : autocompleteOpened ? autocompleteSize : '0', 'overflow' : filteredValues.length > 4 && autocompleteOpened ? 'auto' : 'hidden' }">
        <div (click)="sendAutocomplete(value)" class="cell" *ngFor="let value of filteredValues" [ngStyle]="{'background': value.selected ? backgroundColorAutoActive : backgroundColorAuto}">
            <p [ngStyle]="{'color': value.selected ? textColorAutoActive : textColorAuto}">{{value.name}}</p>
            <p [ngStyle]="{'color': value.selected ? textColorAutoActive : textColorAuto}" id="address">{{value.subtitle}}</p>
        </div>
    </div>
</div>
<p class="error" [ngStyle]="{'height' : errorMessage.length > 0 ? '24px' : '0', 'opacity': errorAnimation ? '1' : '0'}">{{errorMessage}}</p>



