.inputBox{
    position: relative;
    width: var(--width);
    transition: 1s cubic-bezier(.27,.88,.52,.95);
    &:hover{
        span{color: var(--hoverTextColor);};
        opacity: 1 !important;
        &::before{
            width: calc(100% - 2px);
        }
        input,p{border-color: var(--hoverBorderColor); color: var(--hoverTextColor);}
    }
    &::after{
        pointer-events: none;
        background: var(--backgroundColor);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 1px;
        height: calc(100% - 3px);
        width: calc(100% - 3px);
        z-index: 0;
        transition: .5s;
    }
    &::before{
        pointer-events: none;
        background: var(--hoverBackgroundColor);
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 1px;
        height: calc(100% - 3px);
        width: 0%;
        z-index: 1;
        transition: .5s;
    }
}

.bottomBorder{
    &::before{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .placeholderUp ~ span, input:focus ~ span{
        transform: translateY(-8px) !important;
        border: 0 !important;
    }
    
}

.inputBox input{
    position: relative;
    border-bottom: 2px solid var(--borderColor) !important;
    outline: none;
    background: transparent;
    padding: var(--fontSize);
    border-radius: 5px;
    color: var(--textColor);
    font-size: var(--fontSize);
    transition: .5s;
    z-index: 2;
    width: calc(100% - 35px);
    overflow: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
.noPadding input,.noPadding span{
    padding: 0 2px !important;
    width: calc(100% - 4px);
}

.inputBox span{
    position: absolute;
    top:0;
    left: 0;
    opacity: var(--textOpacity);
    padding: var(--fontSizeSpan);
    pointer-events: none;
    font-size: var(--fontSize);
    color: var(--placeholderColor);
    transition: .5s;
    z-index: 4;
    border-radius: 5px;
}

.inputBox .placeholderUp ~ span,
.inputBox input:focus ~ span,
.inputBox input[type="time"] ~ span{
    color: var(--placeholderColorActive);
    transform: translateX(15px) translateY(-8px);
    font-size: 10px;
    padding: 0 10px;
    background: var(--backgroundColor);
    border-left: 2px solid var(--borderColorActive);
    border-right: 2px solid var(--borderColorActive);
}

.noPadding .placeholderUp ~ span,
.noPadding input:focus ~ span,
.noPadding input[type="time"] ~ span{
    padding: 0 !important;
    margin-top: -10px !important;
}

.inputBox .placeholderUp,
.inputBox input:focus,
.inputBox input[type="time"]{
    border: 2px solid var(--borderColorActive);
}

.inputBox:has(input:focus){
    &::before{width: 0;}
    input,p{color: var(--textColor);}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.grade{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1vw;
    margin: auto !important;
    height: fit-content;
    font-weight: 800;
    color: var(--placeholderColor);
    z-index: 2;
}

.autocomplete::-webkit-scrollbar{
    display: none;
}
.autocomplete{
    cursor: pointer;
    position: absolute;
    top: 8vh;
    width: 100%;
    box-shadow: 0 30px 30px rgba(23,26,26,0.1);
    z-index: 4;
    border-radius: 5px;
    .cell{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2vw;
        height: 7vh;
        &:hover{
            background: var(--backgroundColorAutoActive) !important;
            p{
                color: var(--textColorAutoActive) !important;
            }
        }
    }
    .cell:last-child{
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .cell:first-child{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    p{
        color: var(--textColorAuto);
        padding-left: 1vw;
        font-size: 16px;
        z-index: 2;
    }
    #address{
        font-size: 12px;
    }
}

.error{
    font-size: 12px;
    color: var(--secondColor);
    transition: 1s;
    width: max-content;
}