<div class="border" [ngStyle]="{'color': color}">
    <div class="horaires">
        <div class="line" *ngFor="let horaire of horaires">
            <p>{{horaire.day}}</p>
            <div id="hour">
                <p *ngIf="horaire.fermeture == null">{{horaire.ouverture}}-{{horaire.fermeture_midi}}</p>
                <p *ngIf="horaire.ouverture == null">-</p>
                <p *ngIf="horaire.fermeture != null">{{horaire.ouverture}}-{{horaire.fermeture_midi}}/{{horaire.ouverture_soir}}-{{horaire.fermeture}}</p>    
            </div>
        </div>
    </div>
</div>