@font-face {
    font-family: 'Falling Sky';
    font-weight: bolder;
    src: url('./assets/fonts/falling-sky-font/FallingSkyBoldplus-6GZ1.otf');
}

@font-face {
    font-family: 'Elevate';
    src: url('./assets/fonts/elevate-sans.regular.ttf');
}

@font-face {
    font-family: 'Argentum';
    src: url('./assets/fonts/argentum-sans.black.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins.black.ttf');
}