.body{
    transition: all 400ms ;
    transition: .7s cubic-bezier(.96,.04,.24,.78);
}


.first{
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    padding: 0 5%;
    background: var(--black);
    overflow: hidden;
    transition: opacity .4s;
    position: fixed;
    .topbarContainer{
        position: fixed;
        height: 100px;
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        z-index: 100;
        transition: .8s ease-in-out;
        .navbar{
            position: fixed;
            height: 100px;
            width: 90vw;
            .container{
                position: relative;
                height: 100%;
                #logo{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100px;
                    transition: all 400ms;
                    z-index: 100;
                }
                #mainLink{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    right: 2vw;
                    text-align: center;
                    width: 10vw;
                    height: 40%;
                    z-index: 100;
                }
            }
        }        
        .topbar{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 60%;
            margin-left: 10%;
            height: 100%;
            overflow: hidden;
            .link{
                -webkit-user-select: none;  
                -moz-user-select: none;    
                -ms-user-select: none;      
                user-select: none;
                position: relative;
                cursor: pointer;
                font-size: 16px;
                height: 20px;
                margin-right: 3vw !important;
                color: var(--mainColor);
                text-align: center;
                transition: 2s cubic-bezier(.27,.88,.52,.95);
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    height: 2px;
                    width: 0;
                    background: var(--mainColor);
                    transition: all 400ms;
                }
            }
        }
    }
    link-card{
        width: fit-content;
        height: fit-content;
        position: absolute;
        transition: .3s;
        inset: 0;
        margin: auto;
    }
    .allSuggestions{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        background: var(--white);
        overflow-x: hidden;
        padding-bottom: 20vh;
        z-index: 100;
        width: 100vw;
        color: var(--black);
        transition: top .8s cubic-bezier(.27,.88,.52,.95);
        &::-webkit-scrollbar{
            display: none;
        }
        .suggestions{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: 100vh;
            width: 100vw;
            position: absolute;
            .subtitle{
                position: absolute;
                font-size: 10vh;
                font-weight: 500;
                line-height: 10vh;
                text-transform: uppercase;
                transition: .3s cubic-bezier(.27,.88,.52,.95);
            }
            .bottom{
                bottom: 5vh;
            }
            .top{
                top: 5vh;
            }
            .infos{
                display: grid;
                grid-template-columns: repeat(3,3fr);
                width: 40vw;
                align-items: center;
                justify-content: space-evenly;
                position: absolute;
                top: 13vh;
                left: 5vw;
                overflow: hidden;
                .line{
                    align-items: flex-end;
                    color: var(--black);
                    border-radius: 5px;
                    position: relative;
                    padding: 1vw;
                    h2{
                        font-weight: 200;
                        transition: 1s cubic-bezier(.27,.88,.52,.95);;
                    }
                }
            }
            .cardsBody{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100vw;
                transition: 2s cubic-bezier(.27,.88,.52,.95);;
                position: relative;
                color: var(--white);
                
            }
            round-button{
                width: auto !important;
            }
            .suggestion{
                overflow: hidden;
                max-width: 500px;
                justify-content: flex-start;
                padding: 50px;
                border-radius: 5px;
                background: var(--black);
                z-index: 200;
                .cards{
                    display: flex;
                    align-items: center;
                    transition: .3s;
                }
                .card{
                    width: max-content;
                    margin-right: 50px;
                }
            }
        }
    }
    h1{
        position: absolute;
        width: fit-content;
        height: fit-content;
        margin: 0;
        color: var(--white);
        font-size: 10vw;
        line-height: 10vw;
        z-index: 100;
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        transition: .8s cubic-bezier(.27,.88,.52,.95);
    }
}
.types{
    position: fixed;
    top: 0;
    background: linear-gradient(rgba(1,17,10,0.7),rgba(1,17,10,0.7)), url('../../assets/common/home.jpg');
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: scale .5s cubic-bezier(.27,.88,.52,.95), opacity .7s cubic-bezier(.96,.04,.24,.78);
}
.phoneCardsBody{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    transition: 2s cubic-bezier(.27,.88,.52,.95);;
    position: relative;
    color: var(--white);  
    .moveButtons{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    
    .phoneCardsBody{
        display: flex;
    }
    .first .topbarContainer .topbar{display: none;}
    .first .topbarContainer .navbar .container #mainLink{width: 30vw; top: 0;bottom: 0;margin: auto;}
    .first .logo{font-size: 50px;}
    .first #bottomLogo{top: calc(30vh + 75px);}
    .first .slogan{display: none;}
    .types .container{flex-direction: column; height: 70%; width: 100%; align-items: center;}
    .presentation #location,.presentation #filter{padding-right: 0; padding-left: 0;}
    .presentation .line .infos .details{font-size: 14px; line-height: 20px;}
    .presentation .line .infos .title{font-size: 20px;}
    .presentation .line{width: 90vw;}
    .presentation .line .icon .shadow{height: 15px; width: 50px;}
    .presentation .line .icon fa-icon{font-size: 50px;}
    .first .topbarContainer{z-index: 100;}
    .first .allSuggestions .suggestions{
        .cardsBody{
            display: none;
        }
        .infos{
            width: 90vw;
        }
        .subtitle{
            font-size: 3vh;
        }
        .suggestion{
            max-width: 380px;
            padding: 2vh 1vw;
            background: transparent;
            
        }
    } 
}
