.upload{
    width: 100px;
    position: relative;
    margin: auto;
}
.upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #01110A;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    transform: scale(1);
    transition: all 400ms;
    &:hover{
        transform: scale(1.15);
    }
}
.upload .round input[type = "file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}
input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
};

.btn-warning{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #FCFFFC;
    background-color: #01110A;
    border: 0;
    transition: 400ms;
    overflow: hidden;
    transform: scale(1);
    &:hover{
        transform: scale(1.15);
    }
}
.btn-warning input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
}